@import url('https://fonts.googleapis.com/css?family=Princess+Sofia');

html {
  color: white;
  font-size: 18px;
}

body {
  background: #111111 url('../assets/congruent-outline.png');
}

.princess-font {
  font-family: 'Princess Sofia', cursive;
}

.main {
  background: #2D2D2D;
  border: 3px dotted #FEFEFE;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 3rem;
}

.main h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.menu {
  margin: 2rem 0;
}

.selected-items {
  margin-bottom: 2rem;
}

.selected-items {
  font-weight: bold;
  text-align: center;
}

.selected-items span {
  font-weight: normal;
}

.menu ul {
  list-style: none;
}

.menu li {
  color: #FEFEFE;
  margin-top: 1rem;
  text-align: center;
}

.fa {
  background: #FEFEFE;
  color: #2D2D2D;
  border-radius: 50%;
  margin-right: 0.2rem;
  padding: 0.3rem;
}

.green {
  color: #65743A;
}

.blue {
  color: #394F49;
}

.red {
  color: #330F0A;
}

.mix-btn {
  text-transform: uppercase;
}
